.ais-content {
	color: #000;
}
.inner-2 > p {
	display: none;
}














/*** DESKTOP ***/


.right-content-regular .active {
	-webkit-transition: all 0.9s ease !important;
	transition: all 0.9s ease !important;
}

.right-content-regular.active {
	line-height: normal;
	padding: 30px 0 20px 0px;
	background: rgba(0, 0, 0, 0);
	right: 0px;
	width: 100%;
	top: 100px;
	height: 505px;
	-webkit-transition: all 0.1s ease !important;
	transition: all 0.1s ease !important;
}
.right-content-regular .inner {
	height: 480px;
	width: 100%;
	-webkit-transition: all 0.9s ease !important;
	transition: all 0.9s ease !important;
}

.right-content-regular .inner-2 {
	padding: 0 40px 0 30px;
}



@media screen and (max-height: 770px) { 

.right-content-regular.active {
	height: 59%;
	z-index: 1;
}	

.right-content-regular .inner {
	height: 95% !important;
}

}


@media screen and (max-height: 650px) { 
.right-content-regular.active {
	height: 49%;
}	

}

/*** MOBILE ***/

.mobile-right-content-regular {
	line-height: normal;
}

.mobile-right-content-regular .ais-content {
	white-space: normal;
}
.mobile-right-content-regular .ais-content > div {
	display: block;
	width: 100%;
}

.mobile-right-content-regular .ais-detail {
	width: 100%;
	max-width: 754px;
	height: 100%;
	padding: 0px;
}
.mobile-right-content-regular .ais-detail-plan {
	width: 100%;
}
.mobile-right-content-regular .ais-detail-plan img {
	width: 100%;
}
.mobile-right-content-regular .ais-detail .ais-detail-info {
	width: 100%;
	margin-left: 0px;
	white-space: normal;
	padding: 10px;
}
.mobile-right-content-regular .ais-detail .ais-detail-info > div:first-child {
	width: 100%;
	margin-bottom: 0px;
	text-align: left;
}
.mobile-right-content-regular .ais-detail .ais-detail-close {
	top: -384px;
	left: 456px;
}








